html {
  height: 100%;
}

body {
  min-height: 100%;
}

span {
  color: #dc4e76;
}

.banner {
  position: relative;
  background: url(./image/fog-1209447_1280.jpg);
  min-height: 100vh;
  margin: -15px;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
}
header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar {
  padding: 1.5% 7%;
}

/* logo styling */
.navbar-brand {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2em;
  color: #262626;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*navigation link styling  */
.nav-item {
  font-weight: 800;
  text-transform: uppercase;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
  background: #262626;
  color: #fff;
}
.navbar-light .navbar-nav .nav-item .nav-link {
  color: #262626;
  padding: 5px 15px;
}

.banner h2 {
  margin: 0;
  padding: 0;
  font-size: 3.5em;
  font-weight: 1000;
  color: #262626;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.banner p {
  margin: 1em 0 0;
  padding: 0;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #262626;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.btnD1 {
  display: inline-block;
  margin: 1em 0 0;
  background: #dc4e76;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.btnD1:hover {
  color: gainsboro;
  text-decoration: none;
}

.navbar-light .navbar-toggler {
  border: none;
  color: #fff;
  border: 2px solid #7f7f7f;
  border-radius: 0;
  outline: none;
}

a {
  color: #262626;
  text-decoration: none;
  background-color: transparent;
}

.top a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #dc4e76;
  font-weight: bold;
  text-decoration: none;
}

/* Blog card */

.card-body {
  padding-bottom: 20px;
}

.homecard {
  padding: 20px;
  margin-top: -150px;
  margin-bottom: 20px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  height: 100% !important;
}

.card-col {
  padding: 20px;
  background-color: white;
}

.gotop {
  padding-top: 100px;
}

.footer {
  background-color: whitesmoke;
}
/* social media logo color - copyright */
.fa {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  padding: 50px;
  font-size: 50px;
  text-decoration: none;
}

.copyright {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: #3b5998;
}

.fa-google {
  color: #dd4b39;
}

.fa-linkedin {
  color: #007bb5;
}

.fa-github {
  color: black;
}

@media (max-width: 320px) {
  .banner {
    padding: 300px 10%;
  }
  .banner h2 {
    font-size: 1.9em;
    margin-top: -35px;
  }
  .navbar-brand {
    font-size: 1.4em;
  }
  .fa {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
  }
}

@media (max-width: 768px) {
  .banner {
    padding: 300px 10%;
  }
  .banner h2 {
    font-size: 1.9em;
    margin-top: -35px;
  }
  .navbar-brand {
    font-size: 1.6em;
  }
}

@media (max-width: 1024px) {
  .banner {
    padding: 300px 10%;
  }
  .banner h2 {
    font-size: 3em;
    margin-top: -35px;
  }
  .navbar-brand {
    font-size: 2.5em;
  }
}

@media (min-width: 1200px) {
  .banner {
    padding: 300px 10%;
  }
  .banner h2 {
    font-size: 2.5em;
    margin-top: -35px;
  }
  .navbar-brand {
    font-size: 2em;
  }
}
