header {
  background-color: #ddddd1;
}
/* .no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
} */

.circular--portrait {
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid black;
  margin-left: auto;
  margin-right: 10px;

  /* margin-bottom: 25px; */
}

.circular--portrait > img {
  width: 100%;
  height: auto;
}

#nav1 {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ddddd1;
}

.aboutContent {
  text-align: left;
  line-height: 1.6;
  font-size: 20px;
  padding-top: 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* padding: 60px 40px; */
}

@media (max-width: 1020px) {
  .circular--portrait {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }

  .aboutContent {
    padding: 5px 5px;
    font-size: 16px;
    margin-top: 25px;
  }
}

@media (max-width: 414px) {
  .circular--portrait {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

  .aboutContent {
    padding: 5px 5px;
    font-size: 16px;
  }
}

@font-face {
  font-family: "libre_baskervilleregular";
  src: url("librebaskerville-regular-webfont.woff2") format("woff2"),
    url("librebaskerville-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "made_canvasregular";
  src: url("made_canvas_regular_personal_use-webfont.woff2") format("woff2"),
    url("made_canvas_regular_personal_use-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
